doctype html
html
	head
		title Dashboard
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		link(rel='stylesheet' href='https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css')
		link(href='https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.css' rel='stylesheet')
		link(href='https://cdn.datatables.net/v/dt/b-2.3.6/b-html5-2.3.6/datatables.css' rel='stylesheet')
		link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
		link(rel='stylesheet' href='js/css/dashboard.css')
body
	.container-fluid 
		.row.bg-secondary 
			.col-6 
				h2.py-3.px-2.text-light  
					a(href='/asset').text-decoration-none.text-light Asset Tracker
			.col-6.d-flex.flex-row.justify-content-end
				h5.align-items-center.pt-4.px-2.text-light#username
	.container
		.row.py-2
			.col-6
				h3#tableHeading(style='display: none;') Asset Management
			.col-6.d-flex.flex-row.justify-content-end.text-end
				button#myModal.btn.btn-secondary(style='display: none;') Create Device
			.col-12.my-3
				table#myTable
					thead
						tr
							th Id
							th Asset Name
							th Asset Id
							th Asset Type
							th Brand
							th Vendor Details
							th Purchase Date
							th Specification
							th Assigned to
							th Status
							<th class="admin-only">Action</th>
					tbody

	.modal.fade#editModal(tabindex="-1" role="dialog" aria-labelledby="#editModalLabel" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					h5.modal-title#editModalLabel Edit Device
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
				.modal-body
					form
					.row
						.col-md-12
							.form-group
								label(for="assetId") Serial No 
								input#assetId-edit.form-control(type="text" name="assetId" autocomplete="off" required)
						.col-md-6
							.form-group
								label(for="manufacturer") Brand
								input#manufacturer-edit.form-control(type="text" name="manufacturer" autocomplete="off" placeholder="Apple" required)
						.col-md-6
							.form-group
								label(for="assetName") Model Name
								input#assetName-edit.form-control(type='text' name='assetName' placeholder="Mac Book air" autocomplete="off" required='')
						.col-md-6
							.form-group
								label(for="purchaseDate") Purchase Date
								input#purchaseDate-edit.form-control(type="date" name="purchaseDate" min="2020-01-01" max="" autocomplete="off" required)
						.col-md-6
							.form-group
								label(for="vendorDetails") Vendor Details
								input#vendorDetails-edit.form-control(type="text" name="vendorDetails" autocomplete="off" placeholder="Amazon Online Store" required)
						.col-md-12
							.form-group
								label(for='assetType') Asset Type
								select#assetType-edit.form-control(required='' autocomplete="off" readOnly)
									option(value='') Select Asset Type
									option(value='1') Laptop
									option(value='2') PC
									option(value='3') Mobile 
									option(value="4") Charger 
									option(value='5') Keyboard 
									option(value="6") Mouse
						.col-md-12 
							#pcDetails-edit(style='display:none;')
								.row
									.col-md-6
										.form-group
											label(for='screenSize') Screen Size
											select#screenSize-edit.form-control
												option(value='') Select Screen Size
												option(value="13 inch") 13 inch
												option(value="15 inch") 15 inch
												option(value="17 inch") 17 inch
							#mobileDetails-edit(style='display:none;')
								.row
									.col-md-6
										.form-group
											label(for='ram-mobile') Mobile RAM
											select#ram-mobile-edit.form-control
												option(value='') Select Mobile RAM
												option(value='2GB') 2GB
												option(value='4GB') 4GB
												option(value='6GB') 6GB
									.col-md-6
										.form-group
											label(for='internalStorage-mobile') Mobile Internal Storage
											select#internalStorage-mobile-edit.form-control
												option(value='') Select Mobile Internal Storage
												option(value='32GB') 32GB
												option(value='64GB') 64GB
												option(value='128GB') 128GB
							#laptopDetails-edit(style='display: none;')
								.row
									.col-md-12
										.form-group
											label(for='ram') RAM
											select#ram-edit.form-control
												option(value='') Select RAM
												option(value='4GB') 4GB
												option(value='8GB') 8GB
												option(value='16GB') 16GB
									.col-md-6
										.form-group
											label(for='internalStorage') Internal Storage
											select#internalStorage-edit.form-control
												option(value='') Select Internal Storage
												option(value='256GB') 256GB
												option(value='512GB') 512GB
												option(value='1TB') 1TB
									.col-md-6
										.form-group
											label(for='cpuModel') CPU Model
											select#cpuModel-edit.form-control
												option(value='') Select CPU Model
												option(value='Core i3') Core i3
												option(value='Core i5') Core i5
												option(value='Core i7') Core i7
									.col-md-6 
										.form-group
											label(for='screenSize') Screen Size
											select#screenSize-laptop-edit.form-control
												option(value='') Select Screen Size
												option(value="13 inch") 13 inch
												option(value="15 inch") 15 inch
												option(value="17 inch") 17 inch
							#chargerDetails-edit(style='display: none;')
								.row
									.col-md-6
										.form-group
											label(for='chargerVoltage') Charger Voltage
											select#chargerVoltage-edit.form-control
												option(value='') Select Charger Voltage
												option(value='110V') 110V
												option(value='220V') 220V
							#keyboardDetails-edit(style='display: none;')
								.row
									.col-md-6
										.form-group
											label(for='keyboardLayout') Keyboard Layout
											select#keyboardLayout-edit.form-control
												option(value='') Select Keyboard Layout
												option(value='QWERTY') QWERTY
												option(value='AZERTY') AZERTY
							#mouseDetails-edit(style='display: none;')
								.row
									.col-md-6
										.form-group
											label(for='mouseType') Mouse Type
											select#mouseType-edit.form-control
												option(value='') Select Mouse Type
												option(value='Wired') Wired
												option(value='Wireless') Wireless
					.modal-footer
						button.btn.btn-secondary(type="button" data-dismiss="modal") Close
						button#saveEdit.btn.btn-primary(type="button") Save Device

	#requestModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='requestModalLabel' aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5#requestModalLabel.modal-title Raise a Request
					button.close(type='button' data-dismiss='modal' aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.form-group
						label(for='requestType') Request Type
						select#requestType.form-control(required='')
							option(value='') Select Request Type
							option(value='1') Request for Asset
					.form-group
						label(for='assetType') Asset Type
						select#assetType.form-control(required='')
							option(value='') Select Asset Type
							option(value='1') Laptop
							option(value='2') PC
				.modal-footer
					button.btn.btn-secondary(type='button' data-dismiss='modal') Close
					button#submitRequestBtn.btn.btn-primary(type='button') Submit Request

	.modal.fade#exampleModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					h5.modal-title#exampleModalLabel Create Device
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
				.modal-body
					form
					.row
						.col-md-12
							.form-group
								label(for="assetId") Serial No 
								input#assetId-create.form-control(type="text" name="assetId" autocomplete="off" required)
						.col-md-6
							.form-group
								label(for="manufacturer") Brand
								input#manufacturer-create.form-control(type="text" name="manufacturer" autocomplete="off" placeholder="Apple" required)
						.col-md-6
							.form-group
								label(for="assetName") Model Name
								input#assetName-create.form-control(type='text' name='assetName' placeholder="Mac Book air" autocomplete="off" required='')
						.col-md-6
							.form-group
								label(for="purchaseDate") Purchase Date
								input#purchaseDate-create.form-control(type="date" name="purchaseDate" min="2020-01-01" max="" autocomplete="off" required)
						.col-md-6
							.form-group
								label(for="vendorDetails") Vendor Details
								input#vendorDetails-create.form-control(type="text" name="vendorDetails" autocomplete="off" placeholder="Amazon Online Store" required)
						.col-md-12
							.form-group
								label(for='assetType') Asset Type
								select#assetType-create.form-control(required='' autocomplete="off")
									option(value='') Select Asset Type
									option(value='1') Laptop
									option(value='2') PC
									option(value='3') Mobile 
									option(value="4") Charger 
									option(value='5') Keyboard 
									option(value="6") Mouse
						.col-md-12 
							#pcDetails(style='display:none;')
								.row
									.col-md-6
										.form-group
											label(for='screenSize') Screen Size
											select#screenSize-create.form-control
												option(value='') Select Screen Size
												option(value="13 inch") 13 inch
												option(value="15 inch") 15 inch
												option(value="17 inch") 17 inch
							#mobileDetails(style='display:none;')
								.row 
									.col-md-6
										.form-group
											label(for='ram-mobile') Mobile RAM
											select#ram-mobile-create.form-control
												option(value='') Select Mobile RAM
												option(value='2GB') 2GB
												option(value='4GB') 4GB
												option(value='6GB') 6GB
									.col-md-6
										.form-group
											label(for='internalStorage-mobile') Mobile Internal Storage
											select#internalStorage-mobile-create.form-control
												option(value='') Select Mobile Internal Storage
												option(value='32GB') 32GB
												option(value='64GB') 64GB
												option(value='128GB') 128GB
							#laptopDetails(style='display: none;')
								.row
									.col-md-12
										.form-group
											label(for='ram') RAM
											select#ram-create.form-control
												option(value='') Select RAM
												option(value='4GB') 4GB
												option(value='8GB') 8GB
												option(value='16GB') 16GB
									.col-md-6
										.form-group
											label(for='internalStorage') Internal Storage
											select#internalStorage-create.form-control
												option(value='') Select Internal Storage
												option(value='256GB') 256GB
												option(value='512GB') 512GB
												option(value='1TB') 1TB
									.col-md-6
										.form-group
											label(for='cpuModel') CPU Model
											select#cpuModel-create.form-control
												option(value='') Select CPU Model
												option(value='Core i3') Core i3
												option(value='Core i5') Core i5
												option(value='Core i7') Core i7
									.col-md-6 
										.form-group
											label(for='screenSize') Screen Size
											select#screenSize-laptop-create.form-control
												option(value='') Select Screen Size
												option(value="13 inch") 13 inch
												option(value="15 inch") 15 inch
												option(value="17 inch") 17 inch
							#chargerDetails(style='display: none;')
								.row
									.col-md-6
										.form-group
											label(for='chargerVoltage') Charger Voltage
											select#chargerVoltage-create.form-control
												option(value='') Select Charger Voltage
												option(value='110V') 110V
												option(value='220V') 220V
							#keyboardDetails(style='display: none;')
								.row
									.col-md-6
										.form-group
											label(for='keyboardLayout') Keyboard Layout
											select#keyboardLayout-create.form-control
												option(value='') Select Keyboard Layout
												option(value='QWERTY') QWERTY
												option(value='AZERTY') AZERTY
							#mouseDetails(style='display: none;')
								.row
									.col-md-6
										.form-group
											label(for='mouseType') Mouse Type
											select#mouseType-create.form-control
												option(value='') Select Mouse Type
												option(value='Wired') Wired
												option(value='Wireless') Wireless
					.modal-footer
						button.btn.btn-secondary(type="button" data-dismiss="modal") Close
						button#saveDevice.btn.btn-primary(type="button") Save Device

script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js')
script(src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js')
script(src='/js/dashboard.js')
