doctype html
html
	head
		title User Login
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
		link(rel='stylesheet' href='js/css/login.css')
	body
		.login-container
			h1 User Login
			p#error-message(style='color: red; text-align: center; display: none;') Invalid username or password.
			form#registrationForm.login-form
				label(for='username') Username:
				input(type='text' name='username' autocomplete='off' required='')
				label(for='password') Password:
				input(type='password' name='password' autocomplete='off' required='')
				input(type='submit' value='Login')
script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js')
script(src='/js/login.js')