doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Simple Webpage
  body
    h1 Hello, World!
    p This is a simple webpage.
    // Include the JavaScript file
script(src='/js/table.js')
